# PyCharm
.idea

# Jupyter Notebook
.ipynb_checkpoints

# Arba Sicula issues
extract-text/as-issues
extract-text/output_pdf/*.tex
extract-text/output_pdf/*.pdf
extract-text/output_txt/*.txt
extract-text/wrapped/*.txt
extract-text/aligned/*.csv
extract-text/*.csv

# Arthur Dieli sicilian vocabulary
extract-text/aligner/dieli-scen-dict.txt

# WikiMatrix files
extract-text/WikiMatrix.it-scn.tsv.gz
extract-text/WikiMatrix.it-scn.txt.it
extract-text/WikiMatrix.it-scn.txt.scn